.alegreya-sans-sc-bold {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 900;
    font-style: normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

.slide-in-up{
    animation: slideInUp 1.3s ease-in-out;

}

.slide-in-down{
    animation: slideInDown 1.3s ease-in-out;

}
/* Header */
header {
    height: 8vh;
}

#menu-button {
    display: none;
}

/* Nav toggle */
#menu-button:checked~#navbarSupportedContent {
    display: block;
    background-color: #088395;
    animation: slideInUp 1.3s ease-in-out;

}

.navbar:has(#menu-button:checked) {
    background-color: #088395;
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#subscribe-main {
    margin-top: -8vh;
}

#bg-img {
    width: 100%;
    margin-top: -8vh;
    object-fit: contain;

}


#confirmation-msg {
    margin-top: 8vh;
    margin-bottom: 8vh;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: center;
}

#confirmation-background-img {
    width: 100%;
}

#confirmation-div {
    min-height: 78vh;
    position: relative;
    bottom: 0;
}


.error-container, .confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.error-image{
    max-width: 300px;
    margin-bottom: 2rem;
}

.confirmation-image{
    max-width: 500px;
    margin-bottom: 2rem;
}

.error-message, .confirmation-message {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.error-description, .confirmation-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.redirect-links {
    list-style-type: none;
    padding: 0;
}

.redirect-links li {
    margin-bottom: 0.5rem;
}

.redirect-links a {
    text-decoration: none;
    color: #45bfd0;
    transition: color 0.3s ease-in-out;
}

.redirect-links a:hover {
    color: #088395;
}


#logo-image {
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
    background-color: #ffffff;
    border-radius: 30%;
    margin-left: 10px;
}

.navbar-nav {
    margin-left: 10px;
}

.navbar {
    animation: slideInDown 1.3s ease-in-out;
    transform-origin: 0px 0px;
    height: 100%;
    
}

#card1 {
    color: #011b1f;
    border-width: 0;
    margin-top: 8vh;

}


#card3 {
    background-color: #ffffff;
    border-width: 0;
    margin-top: 8vh;

}

#card3 img {
    margin-top: 0;
}

#card3 h3 {
    margin-bottom: 0;
}

.card-img-top {
    max-width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#diagnose-card {
    border-width: 0;
    margin-top: 4vh;
}

.celebrity-div a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


.recipe-div a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.landing-page-div a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;

}

.lp-div-img {
    max-width: 60vw;
}


.lp-div-img-vertical {
    display: inline;
}

.lp-div-img-horizontal {
    display: none;
}


.recipe-card-container,
.recipe-card {
    height: 100%;
}



.recipe-card,
.recipes-header-card,
#celebrities-header-card {
    border-width: 0;
}


.recipe-img {
    height: inherit;
    object-fit: cover;
}

.recipe-img {
    border-radius: 50%;
    width: 65%;
    margin: auto;
}

.recipe-details-img {
    max-height: 60vh;
    object-fit: contain;
    border-width: 0;
}


.celebrity-img {
    height: inherit;
    object-fit: contain;
}

.celebrity-div{

}


#tog,
#content {
    display: none
}

#tog:checked+#content {
    display: block
}


.dark-text {
    color: rgb(52, 51, 51) !important;
}

.light-text {
    color: #ffffff !important;
}


.card-title {
    text-align: center;
}

/* Form */
#subscribe {
    /* background-image: url("../images/bg5.jpeg"); */
    /* background-size: cover; */
    /* background-position: 75%; */
    padding: 15vh 10% 0 10%;
    flex-grow: 1;
    height: 94vh;
}

#subscribe-form {
    color: #ffffff;
    background-color: rgba(15, 154, 175, 0.6);
    padding: 30px;
}

#subscribe-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    border-color: #088395;
    color: #088395;
    background-color: #fafafa;
}


#about-div,
#privacy-policy-div {
    margin-left: 10vw;
    margin-right: 10vw;
}


.video-player {
    width: 70vw;
    height: 39vw;
    margin: 0 auto;
    margin-bottom: 2vh;
}



#slideshow {
    text-align: center;
    overflow: hidden;
    height: 56vw;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 2vh;
    margin-top: 5vh;

}

.slide-wrapper {
    width: 630vw;
    -webkit-animation: slide 10s ease infinite;
}

.slide {
    float: left;
    height: 56vw;
    width: 70vw;
}


.slideshow-img {
    width: 100%;
    height: 100%;
}



@-webkit-keyframes slide {
    10% {
        margin-left: 0px;
    }

    15% {
        margin-left: -70vw;
    }

    20% {
        margin-left: -70vw;
    }

    25% {
        margin-left: -140vw;
    }

    30% {
        margin-left: -140vw;
    }

    35% {
        margin-left: -210vw;
    }

    40% {
        margin-left: -210vw;
    }

    45% {
        margin-left: -280vw;
    }

    50% {
        margin-left: -280vw;
    }

    55% {
        margin-left: -350vw;
    }

    60% {
        margin-left: -350vw;
    }

    65% {
        margin-left: -420vw;
    }

    70% {
        margin-left: -420vw;
    }

    75% {
        margin-left: -490vw;
    }

    80% {
        margin-left: -490vw;
    }

    85% {
        margin-left: -560vw;
    }

    90% {
        margin-left: -560vw;
    }
}

#slideshow-caption {
    align-content: center;
    text-align: center;
    margin-bottom: 5vh;

}

/* Footer */
footer {
    height: 6vh;
}

#footer-bar {

    /* background-color: #088395; */
    background: linear-gradient(0deg, rgba(0, 64, 73, 1) 0%, rgba(8, 131, 149, 1) 0%, rgba(69, 191, 208, 1) 73%, rgba(255, 255, 255, 1) 100%);
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

    width: 100%;
    bottom: 0;
    margin: 0;

    font-size: 1.4rem;
}

#footer-bar a {

    color: #ffffff;
    text-decoration: none;
}

.navbar-brand p {
    color: #45bfd0 !important;
    letter-spacing: 2.5px;
    display: none;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .navbar-brand p {
        display: inline;
    }

    .card-img-top {
        max-width: 60vw;
    }

    #menu-button:checked~.navbar-brand p {
        color: #ffffff !important;
    }

    .video-player {
        width: 60vw;
        height: 33vw;
        margin-left: 20vw;
        margin-bottom: 2vh;
    }

    #error-background-img {
        width: 80vw;
        transform: translateX(10vw);
        margin-bottom: 10vh;

    }

    #slideshow {
        height: 48vw;
        width: 60vw;

    }

    .slide-wrapper {
        width: 540vw;
    }

    .slide {
        height: 48vw;
        width: 60vw;
    }


    @-webkit-keyframes slide {
        10% {
            margin-left: 0px;
        }

        15% {
            margin-left: -60vw;
        }

        20% {
            margin-left: -60vw;
        }

        25% {
            margin-left: -120vw;
        }

        30% {
            margin-left: -120vw;
        }

        35% {
            margin-left: -180vw;
        }

        40% {
            margin-left: -180vw;
        }

        45% {
            margin-left: -240vw;
        }

        50% {
            margin-left: -240vw;
        }

        55% {
            margin-left: -300vw;
        }

        60% {
            margin-left: -300vw;
        }

        65% {
            margin-left: -360vw;
        }

        70% {
            margin-left: -360vw;
        }

        75% {
            margin-left: -420vw;
        }

        80% {
            margin-left: -420vw;
        }

        85% {
            margin-left: -480vw;
        }

        90% {
            margin-left: -480vw;
        }
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .navbar {
        background: linear-gradient(180deg, rgba(0, 64, 73, 1) 0%, rgba(8, 131, 149, 1) 0%, rgba(69, 191, 208, 1) 73%, rgba(255, 255, 255, 1) 100%);
        position: relative !important;
        height: 100%;
    }

    .navbar-brand p {
        display: inline;
        margin-left: 0;
        color: #ffffff !important;
    }

    .card-img-top {
        max-width: 50vw;
    }

    #recipe-main-section {
        margin-top: 30px;
    }

    .lp-div-img {
        max-width: 35vw;
    }

    .landing-page-div {
        margin-bottom: 40px;
    }

    .lp-div-img-vertical {
        display: none;
    }

    .lp-div-img-horizontal {
        display: inline;
    }

    #about-div,
    #privacy-policy-div {
        margin-top: 5vh;
    }

    .landing-page-card-container {
        margin-top: 4rem;
    }

    .video-player {
        width: 50vw;
        height: 28vw;
        margin-bottom: 2vh;
    }

    #error-background-img {
    width: 60vw;
    transform: translateX(20vw);
    }

    #slideshow {
        height: 32vw;
        width: 40vw;

    }

    .slide-wrapper {
        width: 360vw;
    }

    .slide {
        height: 32vw;
        width: 40vw;
    }


    @-webkit-keyframes slide {
        10% {
            margin-left: 0px;
        }

        15% {
            margin-left: -40vw;
        }

        20% {
            margin-left: -40vw;
        }

        25% {
            margin-left: -80vw;
        }

        30% {
            margin-left: -80vw;
        }

        35% {
            margin-left: -120vw;
        }

        40% {
            margin-left: -120vw;
        }

        45% {
            margin-left: -160vw;
        }

        50% {
            margin-left: -160vw;
        }

        55% {
            margin-left: -200vw;
        }

        60% {
            margin-left: -200vw;
        }

        65% {
            margin-left: -240vw;
        }

        70% {
            margin-left: -240vw;
        }

        75% {
            margin-left: -280vw;
        }

        80% {
            margin-left: -280vw;
        }

        85% {
            margin-left: -320vw;
        }

        90% {
            margin-left: -320vw;
        }
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        position: relative !important;
        background: linear-gradient(180deg, rgba(0, 64, 73, 1) 0%, rgba(8, 131, 149, 1) 0%, rgba(69, 191, 208, 1) 73%, rgba(255, 255, 255, 1) 100%);
    }

    .navbar-brand p {
        color: #ffffff !important;
        display: inline;
    }

    .lp-div-img {
        max-width: 35vw;
    }

    .landing-page-div {
        margin-bottom: 40px;
    }

    .lp-div-img-vertical {
        display: none;
    }

    .lp-div-img-horizontal {
        display: inline;
    }

    #about-div,
    #privacy-policy-div {
        margin-top: 5vh;
    }

    .landing-page-card-container {
        margin-top: 10rem;
    }

    .video-player {
        width: 50vw;
        height: 28vw;
        margin-bottom: 2vh;
        margin: 0 auto;

    }

    #error-background-img {
        width: 60vw;
        transform: translateX(20vw);

    }

    #slideshow {
        height: 32vw;
        width: 40vw;

    }

    .slide-wrapper {
        width: 360vw;
    }

    .slide {
        height: 32vw;
        width: 40vw;
    }


    @-webkit-keyframes slide {
        10% {
            margin-left: 0px;
        }

        15% {
            margin-left: -40vw;
        }

        20% {
            margin-left: -40vw;
        }

        25% {
            margin-left: -80vw;
        }

        30% {
            margin-left: -80vw;
        }

        35% {
            margin-left: -120vw;
        }

        40% {
            margin-left: -120vw;
        }

        45% {
            margin-left: -160vw;
        }

        50% {
            margin-left: -160vw;
        }

        55% {
            margin-left: -200vw;
        }

        60% {
            margin-left: -200vw;
        }

        65% {
            margin-left: -240vw;
        }

        70% {
            margin-left: -240vw;
        }

        75% {
            margin-left: -280vw;
        }

        80% {
            margin-left: -280vw;
        }

        85% {
            margin-left: -320vw;
        }

        90% {
            margin-left: -320vw;
        }
    }

}


.nav-link {
    color: white !important;
}


.recipe-content {
    display: none;
}

:target {
    display: inline;
}

/* When the checkbox is checked, hide the open icon and show the close icon */
#menu-button:checked~label .menu-button-open {
    display: none;
}

#menu-button:checked~label .menu-button-close::before {
    display: inline;
}

#menu-button:checked~label span {
    border-color: white;
    border-width: 0;
}


/* Initially hide the close icon */
.menu-button-close::before {
    display: none;
    color: white;
}

.menu-button-close {
    margin-top: 20px;
    margin-right: 2px;
}