.alegreya-sans-sc-bold {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 900;
    font-style:normal;
  }


.navbar{
    background-color: transparent !important;
}




#bg-img{
    max-width: 100vw;
    margin-top: -60PX;
}

#logo-image{
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
}


.navbar-brand{
    color: #161D6F !important;
    letter-spacing: 2.5px;
    display: none;
}

.nav-link{
    color: #161D6F !important;
}

.navbar-nav{
    margin-left: 10px;
}




#card1{
    background-color: #ffffff;
 
}

#card2{
    background-image: url('../images/bg2.jpeg');
    background-size: 100vw;
 

}

#card3{
    background-color: #ffffff;
 
}

#card4{
    background-image: url('../images/bg5.jpeg');
    background-size: 100vw;
 


}



.card-img-top{
    max-width: 50vw;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}


.celebrity-div a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;

}

.celebrity-card-container,.celebrity-card{
    height: 100%;
}

.celebrity-img{
    height: inherit;
    object-fit: contain;
}

.dark-text{
    color:rgb(52, 51, 51) !important;
}

.light-text{
    color:#ffffff !important;
}


.card-title{
    text-align: center;
}
/* Footer */
#footer-bar {
    background-color: #088395;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer-bar a {
     
    color: #ffffff;
}


/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .navbar-brand{
        display: flex;
        padding-left: 10px;
        margin-right: auto;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .navbar-brand{
        display: flex;
    }
}

@media screen and (min-width: 1200px) {    
    .navbar-brand{
        display: flex;
    }
}

#menu-button{
    display:none; 
}

/* Nav toggle */
#menu-button:checked~#navbarSupportedContent {
    display: block !important;
}
